@media (min-width: 500px) {
    .login {
        font-size: 22px;
        color: white;
        background-color: #272533;
        margin: 5% 10%;
        padding: 5%;
        max-width: 500px;
        border: 1px solid #4c485a;
        border-radius: 8px;
        position: relative; 
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    .content{
        grid-area: c;
        margin-top: auto;
      }
}

@media (max-width: 500px) {
    .login {
        color: white;
        font-size: 17px;
        background-color: #272533;
        margin: 5% 10%;
        padding: 5%;
        border: 1px solid #4c485a;
        border-radius: 8px;
        position: relative; 
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    .content{
        margin-top: auto;
      }
}