@media (min-width: 500px) {
  .content{
    grid-area: c;
    max-width: 600px;
    margin: auto;
    padding-left: 40px;
  }

  .item {
    display: inline-block;
    color: white;
    margin-top: 30px;
  }
  .text_signin{
    grid-area: c;
    width: 300px;
    font-size: 20px;
    border: 1px solid #4c485a;
    border-radius: 8px;
    margin: auto;
    padding: 40px;
  }
  .text_signin_link{
    color: white;
  }
  .text_signin_link:hover{
    color: rgba(201, 201, 201);
  }
  .text_welcome{
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .text_userName{
    color: rgb(81, 229, 32);
    font-weight: bold;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .content{
    padding: 20px;
    grid-area: c;
    margin-left: 20px;
    margin-right: 20px;
  }
  .text_signin{
    grid-area: c;
    width: 300px;
    font-size: 23px;
    border: 1px solid #4c485a;
    border-radius: 8px;
    margin: auto;
    padding: 40px;
  }
  .text_signin_link{
    color: white;
  }
  .text_welcome{
    color: white;
    font-weight: bold;
    font-size: 17px;
  }
  .text_userName{
    color: rgb(81, 229, 32);
    font-weight: bold;
    font-size: 17px;
  }
  .text_signin_link:hover{
    color: rgba(201, 201, 201);
  }
  .item {
    display: inline-block;
    color: white;
  }
}