.header img{
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.header{
    height: auto;
    grid-area: h;
    background-color: #333333;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}