.header img {
    width: 150px;
}

@media (min-width: 500px) {
    .header {
        height: auto;
        grid-area: h;
        padding: 15px 30px;
        background-color: #272533;
        text-align: left;
    }
}

@media (max-width: 500px) {
    .header {
        height: auto;
        grid-area: h;
        padding: 15px 40px;
        background-color: #272533;
        text-align: center;
    }
}